{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

    <head>
        <meta http-equiv="Content-Language" content="hu" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>CityFlush - Kezdőlap</title>
        <style type="text/css">
            .style1 {
                border: 1px solid #808000;
                background-color: #FFFFFF;
            }
            .style2 {
                text-align: center;
                border-left-style: none;
                border-left-width: medium;
            }
            .style3 {
                border: medium solid #FFFFFF;
                text-align: center;
                background-color: #FFFFFF;
            }
            .style4 {
                text-align: center;
                border-left-style: none;
                border-left-width: medium;
                border-right-style: none;
                border-right-width: medium;
            }
            .style9 {
                background-color: #000000;
            }
            .style5 {
                border-width: 0px;
                background-color: #000000;
            }
            .style7 {
                text-align: center;
                border-style: none;
                border-width: medium;
                background-color: #FFDC00;
            }
            .style12 {
                text-align: center;
                color: #000000;
                font-size: 55pt;
                border-style: none;
                border-width: medium;
                background-color: #FFDC00;
            }
            .style14 {
                text-align: center;
                color: #000000;
                font-size: 55pt;
                border-style: none;
                border-width: medium;
                background-color: #000000;
            }
            .style15 {
                text-align: center;
                border-style: none;
                border-width: medium;
                background-color: #000000;
            }
            .style16 {
                color: #FFFFFF;
                text-align: left;
            }
            .style23 {
                color: #FFDC00;
            }
            .style19 {
                color: #FFFFFF;
            }
            .style20 {
                color: #FFFFFF;
                font-size: 16pt;
            }
            .style21 {
                text-align: left;
            }
            .style22 {
                font-size: 16pt;
            }
            .style25 {
                color: #FFFFFF;
                text-align: left;
                font-size: 30pt;
            }
            .style26 {
                font-size: 12pt;
            }
        </style>
        <meta name="description" content="A CityFlush segít a győri nyilvános illemhelyek megtalálásában." />
    </head>

    <body style="margin: 0; background-color: #000000">

    <table style="width: 100%" class="style1">
        <tr>
            <td class="style3" style="width: 25%"><strong><a href="/index">Kezdőlap</a></strong></td>
            <td class="style4" style="width: 25%"><strong><a href="/map">Térkép</a></strong></td>
            <td class="style4" style="width: 25%"><strong>
                        Belépés</strong></td>
            {% if app.user %}
                <div class="mb-3" style="color: white">
                    <td class="style2" style="width: 25%"><strong><a href="/add">Adjon hozzá</a></strong></td>
                </div>
            {% endif %}
        </tr>
    </table>

    <table style="width: 100%" cellspacing="1" class="style9">
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <table style="width: 100%; height: 250px" class="style5">
        <tr>
            <td class="style14" style="width: 3%">&nbsp;</td>
            <td class="style12" style="width: 50%">Cityflush </td>
            <td class="style7">
                <img alt="" src="{{ asset('img/cf_cleberfaria.png') }}" width="353" height="380" /></td>
            <td class="style15" style="width: 3%">&nbsp;</td>
        </tr>
    </table>
    <table style="width: 100%" class="style9">
        <tr>
            <td style="width: 3%">&nbsp;</td>
            <td style="width: 15%">&nbsp;</td>
            {% if app.user %}
                <div class="mb-3" style="color: white">
                    Ön be van lépve mint {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Kilépés</a>
                </div>
            {% endif %}
            <td class="style25">Belépés</td>
            <td style="width: 3%">&nbsp;</td>
        </tr>
    </table>
    <table style="width: 100%" class="style9">
        <tr>
            <td style="width: 3%">&nbsp;</td>
            <td style="width: 15%">&nbsp;</td>

            <td class="style16"><span class="style22">
                    <label for="inputEmail">Email:</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus> <br />
		</span><span class="style22">
                    <label for="inputPassword">Jelszó:</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            ><br />
                                            <button class="btn btn-lg btn-primary" type="submit">
                            Belépés
                        </button></form>
		</span>
                <span class="style26"><a href="/register">Még nincs fiókja?
		Regisztáljon itt!</a></span><form method="post">

            </td>
            <td style="width: 3%">&nbsp;</td>
        </tr>
    </table>
    <hr style="height: 5px; width: 94%" class="style23" noshade="noshade" />
    <table style="width: 100%">
        <tr>
            <td style="width: 3%" class="style19">&nbsp;</td>
            <td class="style20" style="width: 31%">
                <p class="style21"><strong>Készítette<br />
                    </strong></p>
                <ul>
                    <li class="style21">Gfellner Máté</li>
                    <li class="style21">Kőhegyi Richárd</li>
                    <li class="style21">Szabó Bence</li>
                    <li class="style21">Hágen Tamás</li>
                </ul>
            </td>
            <td class="style16" style="width: 32%" valign="top">
		<span class="style22"><strong>Elérhetőség<br />
		<br />
		</strong>Széchenyi István Egyetem<br />
		<br />
		9026 Győr, Egyetem tér 1.</span></td>
            <td class="style16" style="width: 31%" valign="top">
		<span class="style22"><strong>Kapcsolat<br />
		<br />
		</strong>06 96 516-730<br />
		<br />
		info@cityflush.hu</span></td>
            <td style="width: 3%" class="style19">&nbsp;</td>
        </tr>
    </table>

    </body>

    </html>

</form>
{% endblock %}
